<p id="notice"><%= notice %></p>

<h1><%= "現在#{current_user.name}さんがログインしています" %></h1>
<div class="show-photo">
  <div class="message-color">
    <p id="p-first">
      <strong>名前:</strong>
      <%= @user.name %>
    </p>

    <p>
      <strong>メールアドレス:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>性別:</strong>
      <%= @user.sex_i18n %>
    </p>

    <p>
      <strong>年齢:</strong>
      <%= @user.age %>
    </p>

    <% if @user.image? %>
      <%= image_tag @user.image.url, :width => '2%' %>
    <% else %>
      <p>残念！画像がありませんでした。</p>
    <% end %>

    <%= link_to '編集する', edit_user_registration_path %> |
    <%= link_to '削除する', "/users/#{current_user.id}", method: :delete, data: { confirm: '本当に削除しても良いですか？'} %> |
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  </div>
</div>