<div class="backgcolor-default">
  <div class="message-color">

    <p id="notice"><%= notice %></p>

    <h2>履歴確認</h2>

    <%= month_calendar(attribute: :input_date, events: @payments) do |date, payments| %>
      <%= date %>

      <% payments.each do |payment| %>
        <div>
          <%= payment.category_i18n %>
          <%= payment.money %>
          <%= link_to '編集する', edit_payment_path(payment) %>
          <%= link_to '削除する', payment, method: :delete, data: { confirm: '本当に削除しても良いですか？' } %>          
        </div>
      <% end %>
    <% end %>

    <a>選択月の分類別合計金額が表示できます。</a>
    <%= form_with url: payments_path, local: true, html: {method: 'GET'} do |form| %>
      <%= form.label :検索したい月を選択 %>
      <%= form.date_select :iuput_date, {discard_day: true} %>
      <%= form.submit "金額表示" %>
    <% end %>
    <a>ここに分類別累計金額を表示</a><br>
    <table border= "1" bgcolor = "yellow">
      <% @search_area_money.each do |key, value| %>
        <tr>
          <th><%= "#{key}" %></th>
          <td><%= "#{value}円" %></td>
        </tr>
      <% end %>

      <% search_area_money = @search_area_money.values.inject(:+) %>
      <% all_area_money = @all_area_money.values.inject(:+) %>
    </table>
    <% if search_area_money > 0 %>
      <a>あなたは今月<%= search_area_money %>円分の記録を積み重ねてきました。頑張りましたね！</a></br>
    <% end %>
    <% if all_area_money > 0 %>
      <a>あなたは今までに<%= all_area_money %>円分の記録を積み重ねてきました。えらい！</a></br>    
    <% end %>
  </div>
  <img src="/assets/the-honest-company-_UzLeRFhUPI-unsplash.jpg" width="100%" height="100%">
</div>