<p id="notice"><%= notice %></p>

<p>
  <strong>ユーザーID:</strong>
  <%= @payment.user_id %>
</p>

<p>
  <strong>日にち:</strong>
  <%= @payment.input_date %>
</p>

<p>
  <strong>分類:</strong>
  <%= I18n.t(@payment.category) %>
</p>

<p>
  <strong>金額:</strong>
  <%= @payment.money %>
</p>

<%= link_to '編集する', edit_payment_path(@payment) %> |
<%= link_to '戻る', payments_path %>
